{% extends 'anchor/base.html' %}
{% block title %}局アナ推定アプリメニュー{% endblock %}

{% block content %}
<div>
  <h4 class="mt-4 mb-5 border-bottom">局アナ判定アプリ</h4>
  <p>画像ファイルを選択して推定ボタンをクリックしてください</p>
  <form class="form" action="{% url 'anchor:predict' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <div class="custom-file">
      {{ form.image }}
      <label class="custom-file-label" for "customFile">
        推定したいファイルを選択してください
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">推定する！</button>
  </form>
</div>
{% endblock %}
